<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - Esteiras Simulator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/materialize.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/fonts.css" />

    @if (ViewBag.Screen == "Login")
    {
        <link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/login.css" />
    }
    else
    {
        <link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/main.css" />
    }

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- <script src="~/Scripts/modernizr-2.8.3.js"></script> -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-cookie.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>

</head>

<body>
    @if (ViewBag.Screen != "Login")
    {
        <!-- Nav Bar -->
        <div class="navbar-fixed">
            <nav class="light-blue darken-2">
                <div class="nav-wrapper">
                    <a href="#" data-target="mobile-menu" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                    <a href="@Url.Action("Index", "Dashboard")" class="brand-logo center">
                        <img src="~/Content/images/weg.png" width="80" style="margin-top: 5px">
                    </a>
                    <ul class="left hide-on-med-and-down">
                        <li @if (ViewBag.Screen == "Dashboard") { @: class="active"
                            }>
                            <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
                        </li>
                        <li @if (ViewBag.Screen == "Esteiras") { @: class="active"
                            }>
                            <a href="@Url.Action("Index", "Esteiras")">Esteiras</a>
                        </li>
                        <li @if (ViewBag.Screen == "Processos") { @: class="active"
                            }>
                            <a href="@Url.Action("Index", "Processos")">Processos</a>
                        </li>
                        <li @if (ViewBag.Screen == "Planta") { @: class="active"
                            }>
                            <a href="@Url.Action("Index", "Planta")">Planta</a>
                        </li>
                        <li @if (ViewBag.Screen == "Producao") { @: class="active"
                            }>
                            <a href="@Url.Action("Index", "Producao")">Produção</a>
                        </li>
                    </ul>

                    <a href="#" onclick="logOut()" class="right" style="padding-right: 20px">Log out</a>
                </div>

                <ul class="sidenav" id="mobile-menu">
                    <li>
                        <a class="close-button-a">
                            <i class="material-icons sidenav-close close-button">close</i>
                        </a>
                    </li>
                    <li @if (ViewBag.Screen == "Dashboard") { @: class="active"
                        }>
                        <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
                    </li>
                    <li @if (ViewBag.Screen == "Esteiras") { @: class="active"
                        }>
                        <a href="@Url.Action("Index", "Esteiras")">Esteiras</a>
                    </li>
                    <li @if (ViewBag.Screen == "Processos") { @: class="active"
                        }>
                        <a href="@Url.Action("Index", "Processos")">Processos</a>
                    </li>
                    <li @if (ViewBag.Screen == "Planta") { @: class="active"
                        }>
                        <a href="@Url.Action("Index", "Planta")">Planta</a>
                    </li>
                    <li @if (ViewBag.Screen == "Producao") { @: class="active"
                        }>
                        <a href="@Url.Action("Index", "Producao")">Produção</a>
                    </li>
                </ul>

            </nav>
        </div>
    }

    <!-- Page content -->
    @RenderBody()
    <!-- JS in the end of file to optimize loading -->
    <script src="~/Scripts/materialize.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.3.0.js"></script>
    <script src="~/Scripts/redips-drag-min.js"></script>

    <!-- todos os methodos do servidor > cliente, dentro dessa função -->
    <script src="~/Content/js/serverRecive.js"></script>
    <!-- ------------------------------------------------------------ -->
    <script src="~/Content/js/serverSend.js"></script>

    <script src="~/Content/js/app-connect.js"></script>

    <script src="~/Content/js/main.js"></script>

    <script src="~/Content/js/Processos/process.js"></script>
    <script src="~/Content/js/Esteiras/esteiras.js"></script>
    <script src="~/Content/js/Planta/planta.js"></script>
    <script src="~/Content/js/Producao/producao.js"></script>

    <script src="/signalr/hubs" type="text/javascript"></script>
</body>

</html>

